/***Login style start***/
.loginwrap {
  background-color: #f4f5fa;
  font-family: "Roboto", sans-serif;
  height: calc(100vh + 8px);
}

.loginwrap .bannerlogin {
  box-shadow: 0 0 250px rgba(0, 0, 0, 0.15);
}

.loginformwrap {
  background-color: #fff;
}

.loginformwrap .welcomheading {
  margin: 0px 0px 0.375rem;
  font-size: 1.4993rem;
  line-height: 1.334;
  letter-spacing: 0px;
  color: rgba(58, 53, 65, 0.87);
  font-weight: 500;
}

.loginformwrap p {
  margin: 0px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: rgba(58, 53, 65, 0.68);
}

/***Login style start***/
/* button style */
.editbtn {
  border-radius: 12px !important;
}

/* end button style */
